body, .dialog, td {
  /* MODS Trevor Squires: make sure the body background is
     white so that our div.speak clipping gradient doesn't
     look like rubbish on the standard gray body background */
  background-color: #FFFFFF ! important;
  font: 13px/1.3em "Helvetica" !important;
}

div.col {
  padding: 0 !important;
}
tbody.chat td {
  padding: 3px 5px !important;
  border: 0 !important;
}
tbody.chat td.body {
  border-bottom: 1px dotted #f7f7f7 !important;
}
td.person, 
table.chat tr.you td,
table.chat tr.leave_message td, 
table.chat tr.enter_message td, 
table.chat tr.kick_message td {
  background-color: white !important;
}
table.chat tr.you td {
  color: #333 !important;
}
td.person {
  font-weight: bold !important;
}
table.chat tr.leave_message td, 
table.chat tr.enter_message td, 
table.chat tr.kick_message td {
  color: #777 !important;
}
a:link, a:visited {
  color: #b00 !important;
}
table.chat td {
  border: none !important;
}
tr.lock_message, tr.unlock_message {
  color: red !important;
  font-weight: bold !important;
}


#upload_target {
  display:none ! important;
}
div.bottom {
  padding:0px ! important;
  margin:0px ! important;
  background-image: none ! important;
}
/* MODS Trevor Squires - changed last_message, clipper and speak styles 
   so that a nice white 'fade' gradient overlays the bottom of the 
   transcript.
   If you want the clipping gradient to be a different size, tweak
   #last_message height and padding to create enough space.
*/
div#last_message{
  height: 10px ! important;
  padding-bottom: 5px ! important;
}
div#clipper > div {
  display:none ! important;
}
/* Override the URL for div.speak background image.
   Note how I'm using a data: URL to get around the fact that
   the stylesheet can't refer to local resources.
   I created the base64 version of my gradient image  in Ruby like this:
   puts Base64.encode64(`cat speak-gradient.png`).split(/\n/).join()
   Also note that I set the height of div.speak to be the same as the sum
   of div#clipper height and padding and made sure bottom was 0 so everything
   lined up properly.
*/
div.speak {
  width: 100% ! important;
  padding:0px ! important;
  margin:0px ! important;
  height:15px ! important;
  bottom:0px ! important;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAPCAYAAADkmO9VAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAN0lEQVQ4EWP8//8/NwMVAQvQLAkqmscAMlBy0Bs46mXKomjwxzIjMKf8p8yTqLqZULmU80aggQDfMQgRDRblXgAAAABJRU5ErkJggg==) top repeat-x ! important;
}
div.Left div.col {
  margin:0px ! important;
  padding-top: 0px ! important;
  padding-bottom: 0px ! important;
  background-image:none ! important;
}
div#Header {
  display:none ! important;
}
div#Sidebar {
  display:fixed ! important;
  right:-800px ! important;
  margin:0px ! important;
  padding:0px ! important;
}
div#corner_logo {
  display:none ! important;
}
tbody#chat div, tbody#chat span {
  font-size: .9em ! important;
}
div.Left {
  width: 100% ! important;
  padding: 0px ! important;
  margin: 0px ! important;
}
div#Wrapper {
  padding: 0px ! important;
  margin: 0px ! important;
}
div#Container {
  margin:0px auto 0pt ! important;
  padding:0px ! important;
  padding-bottom:5px ! important;
  background-color:#FFFFFF ! important;
}
